<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<a href="/" class="home-button">Go to Home</a>

    <header>
        <h1>{{ .Title }}</h1>
        <p>{{ .Date.Format "January 2, 2006" }}</p>
    </header>

    <main>
<!--
        {{ if .Params.image }}
        <img src="/images/{{ .Params.image }}" alt="{{ .Title }}">
        {{ end }}
-->
        <article>
            {{ .Content }}
        </article>
    </main>

    <footer>
        <p>&copy; 2025 My Colombian Blog</p>
    </footer>

</body>
</html>

